@charset "utf-8";
/* hanbom.com		KimJuYeon */
/* box-sizeing */
label,
input,
select,
textarea,
.field,
.field > .label{
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input,
select,
textarea{
	outline: none;
	border:0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	appearance:none;
	-webkit-appearance:none;
}
select::-ms-expand 						{display: none;}
input,
textarea 								{caret-color:#ffde00;}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
	font-size: 3.733vw;
	color: #949699;
}
input:focus,
select:focus,
textarea:focus							{outline-color: transparent;outline-style: none;}
textarea{resize: none;}

/* checkbox */
label,
.radio,
.checkbox						{vertical-align: middle}
.label							{display: inline-block;cursor: pointer;}
label{font-size: 3.2vw;}
.radio,
.checkbox						{position: relative !important; overflow: hidden; margin:0; background-color: transparent;}
:not(.insert) .radio + label{margin-left: 2.667vw;}
:not(.insert) .checkbox + label	{margin-left: 4.267vw; line-height: 4vw}
.radio:disabled + label,
.checkbox:disabled + label		{color: var(--slate-grey);}
.radio:before,
.checkbox:before				{content: ''; display: block; width: 4.800vw; height: 4.800vw; border: 1px solid var(--charcoal-grey-2);
	-webkit-transition: 0.2s border-color ease;
			transition: 0.2s border-color ease;
}
.radio:checked:before,
.checkbox:checked:before		{border-color: var(--sand);
	-webkit-transition: 0.5s border-color ease;
			transition: 0.5s border-color ease;
}
.radio:disabled:before,
.checkbox:disabled:before		{border-color: var(--charcoal-grey-2); background-color: var(--slate-grey);}
.radio:after,
.checkbox:after					{content: '';position: absolute;top: 50%;left: 50%;display: block; width: 1rem; height:1rem;background-color: var(--sand);
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			border-radius: 100vh;
	-webkit-transform: translate(-50%, -50%) scale(0);
			transform: translate(-50%, -50%) scale(0);
}
.radio:before					{border-radius: 4.267vw; border-color:rgba(255,255,255,.3);}
.radio:after					{width: 1rem;height: 1rem;border-radius: 100vh;
	-webkit-transform: translate(-50%, -50%) scale(0);
			transform: translate(-50%, -50%) scale(0);
}
.radio:checked:after			{
	-webkit-animation: toggleOnRadio 0.2s ease forwards;
			animation: toggleOnRadio 0.2s ease forwards;
}
.checkbox:before				{
	border-radius: .25rem;
	-moz-border-radius: .25rem;
	-webkit-border-radius: .25rem;
}
.checkbox:after					{width: .6rem;height: 1rem;background-color: transparent;border-radius: 0;
	-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
			transform: translate(-50%, -85%) scale(0) rotate(45deg);
	box-shadow: .25rem .25rem 0px 0px var(--sand);
}
.checkbox:checked:after			{
	-webkit-animation: toggleOnCheckbox 0.2s ease forwards;
			animation: toggleOnCheckbox 0.2s ease forwards;
}
@-webkit-keyframes toggleOnCheckbox {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
				transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}
	100% {
		-webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}
@keyframes toggleOnCheckbox {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -85%) scale(0) rotate(45deg);
				transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}
	100% {
		-webkit-transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
				transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}
@-webkit-keyframes toggleOnRadio {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(0);
				transform: translate(-50%, -50%) scale(0);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.9);
				transform: translate(-50%, -50%) scale(0.9);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(0.8);
				transform: translate(-50%, -50%) scale(0.8);
	}
	}
@keyframes toggleOnRadio {
	0% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(0);
				transform: translate(-50%, -50%) scale(0);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.9);
				transform: translate(-50%, -50%) scale(0.9);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(0.8);
				transform: translate(-50%, -50%) scale(0.8);
	}
}

/* input-text */
.input-text								{font-size: 3.733vw; background-color: var(--charcoal-grey-2); color: var(--white);border-radius: 0.533vw;}
.input-text								{width: 100%;padding: 0 5.333vw;height: 12.267vw;line-height: 12.267vw;}
.input-text:disabled					{color:#999;border-color:#dfdfdf;background-color:#e8e8e8;}
.input-text:readonly					{border-color:var(--white);background-color:var(--white);}
.input-text:focus						{border-color:#4545c1;}
.input-text[type="search"]				{padding-left: 13.067vw; background-image: url(../images/com/icon_search.svg); background-position: 5.067vw 50% ;background-repeat: no-repeat; background-size: 5.333vw auto;}
.input-text[type="search"][value]		{padding-left: 5.333vw; background-image: url(none);}
.input-text[type="search"]::-webkit-search-cancel-button,
.input-text[type="date"]::-webkit-clear-button{position:relative; right: 0; width: 6.400vw; height: 6.400vw;
	appearance:none;-webkit-appearance:none;
	background: url('../images/com/btn_delete.svg') no-repeat 0 0;
	background-size: 6.400vw auto;
}
.input-text[type="date"]{
	-webkit-appearance: textfield;-moz-appearance: textfield;
}
.input-text[type="date"]::-webkit-inner-spin-button {display:none;}
.input-text[type="date"]::-webkit-calendar-picker-indicator { background-color:white}
.input-text[type="date"]::-webkit-datetime-edit-text { color:#000}
.input-text[type="date"]::-webkit-datetime-edit-month-field { color:#000 }
.input-text[type="date"]::-webkit-datetime-edit-day-field { color: #000; }
.input-text[type="date"]::-webkit-datetime-edit-year-field { color:#000; }
.input-text[type="date"]::-webkit-calendar-picker-indicator{
	padding-right:0;
	background-image: url(../images/@uio/event_available_black_24dp.svg);
	background-position:center;
	background-size: contain;
	background-repeat:no-repeat;
	color:rgba(204,204,204,0);
}
.input-text[type="date"]:focus,
.input-text[type="number"]:focus{
	background:var(--white);
}

/* select */
.select									{position:relative;vertical-align:middle;border: 0 none;
	background: var(--dark) url(../images/com/icon_select.svg) no-repeat calc(100% - 2.667vw) 50%; background-size: 1.6vw auto;
	color: var(--white);
}
.select									{height: 7.467vw; line-height: 7.467vw; padding:0 6.667vw 0 0; font-size: 3.2vw;}
.select:disabled						{color:#999;border-color:#dfdfdf;background-color:#e8e8e8;}
.select:readonly						{border-color:var(--white);background-color:var(--white);}
.select:focus							{border-color:#4545c1;}


/* text-area */
/*.textarea								{position:relative;display: block;width:100%;min-height:48px;line-height:1.4;padding:.4rem;border:1px solid #d8d8d8;background-color:var(--white);}*/
textarea,
.textarea{width: 100%; padding: 0 5.333vw; font-size: 3.733vw; line-height: 12.267vw; min-height: 58.667vw; color: var(--white); background-color: var(--charcoal-grey-2); border-radius: 0.533vw;}
.textarea:focus  						{border-color:#4545c1;}
.textarea[disabled] 					{opacity:.5}

/* onoff */
.onoff									{position:relative;display: inline-block;text-align:center;color:#000;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoff input{display:none;}
.onoff .onoff-label ,
.onoff .onoff-label:after{
	-webkit-transition: .4s;
	transition: .4s;
}
.onoff .onoff-label{position:absolute;top:0;left:0;right:0;bottom:0;background-color:#d8d8d8;}
.onoff .onoff-label:after 							{content:"";
	position: absolute;left: 0.533vw;top: 0.533vw;background-color:var(--white);color:#000;
	box-shadow: 0.533vw 0.533vw 0.533vw 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	width: 6.933vw;
	height: 6.933vw;
	border: 0 none;
}
/*.onoff input:checked + .onoff-label:after	{content:"ON";background-color:#4545c1;color:var(--white);
	box-shadow: none;
}*/
.onoff.small						{min-width:13.333vw;height:8vw;}
.onoff.small .onoff-label ,
.onoff.small .onoff-label:after		{-webkit-border-radius:1.5rem;border-radius:1.5rem;background-color: var(--sand);}
.onoff.small .onoff-label			{min-width:6.933vw;height:8vw;}
.onoff.small .onoff-label:after 	{min-width:6.933vw;height:6.933vw;line-height:1.6rem;background-color: var(--white);}
.onoff.small input:checked + .onoff-label:after	{
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
.onoff.medium						{min-width:60px;height:2.25rem;;font-size:.875rem;line-height:2.25rem;}
.onoff.medium .onoff-label ,
.onoff.medium .onoff-label:after	{-webkit-border-radius:2.25rem;;border-radius:2.25rem;}
.onoff.medium .onoff-label			{min-width:50px;height:2.25rem;;}
.onoff.medium .onoff-label:after 	{min-width:40px;height:2.25rem;line-height:2.25rem;}
.onoff.medium input:checked + .onoff-label:after	{
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
.onoff.large						{min-width:80px;height:3rem;font-size:.875rem;line-height:3rem;}
.onoff.large .onoff-label ,
.onoff.large .onoff-label:after		{-webkit-border-radius:3rem;border-radius:3rem;}
.onoff.large .onoff-label			{min-width:50px;height:3rem;}
.onoff.large .onoff-label:after 	{min-width:52px;height:3rem;line-height:3rem;}
.onoff.large input:checked + .onoff-label:after	{
	-webkit-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}


.select-group {display: flex;overflow: hidden;flex-direction: row;justify-content: space-between;align-content: center;}
.select-group input {position: absolute;clip: rect(0, 0, 0, 0);height: 1px;width: 1px;border: 0;overflow: hidden;}
.select-group label {
	flex:1;
	text-align: center;
	background-color: #d8d8d8;
	color: var(--white);
	transition: all 0.1s ease-in-out;
}
.select-group input:checked + label {background-color: #4545c1;line-height: 1.5rem}
.select-group .btn.small			{line-height:1.5rem;}
.select-group .btn.medium			{line-height:2.25rem;}
.select-group .btn.large			{line-height:3.75rem;}
@media (max-width: 767px) {
	.select-group {flex-direction: column;}
}

.form-wrap{border-top: 1px solid #303131;}
.form-wrap .field{}
.form-wrap .field.with{}
.field .label{display: block;font-size: 3.733vw;}
.form-wrap .field .label{padding-top: 3.733vw;line-height: 9.067vw;}
.form-wrap .field .label .essential{letter-spacing: normal;color: var(--sand);}
.form-wrap .field.with .label{display: inline-block;margin-right: 9.067vw;}
.form-wrap .field.with .insert{display: inline-block;}
.field.with + .btn-area{padding-top: 4vw;}
.btn-area + .field{margin-top: 5.333vw;border-top: 1px solid #303131;}
.form-wrap p.notice + .btn-area{margin-top: 7.733vw;margin-left: -4vw;margin-right: -4vw;}
.form-wrap .field.last + .btn-area{margin-top: 7.733vw;margin-left: -4vw;margin-right: -4vw;}
.form-wrap .field.with + .match-set{padding-top: 4vw;}

.insert.tel{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.insert.tel .input-text{width: 28.4%; font-size: 3.733vw;}
.insert.tel .hypen{font-size: 3.733vw; color: var(--white); text-align: center;}

.form-wrap .btn-aside.right{text-align: right;}
.form-wrap .btn-aside .logout{opacity: 0.7;font-size: 3.2vw; line-height: 1.5;letter-spacing: -0.192vw;color: var(--white);text-decoration: none;}
.btn-area.center{text-align: center;}
.form-wrap .field .radio-wrap{display: inline-block;font-size: 0;vertical-align: middle;}
.form-wrap .field .radio-wrap + .radio-wrap{margin-left: 6.4vw}



.file-wrap{display: inline-block;padding-top: 7.733vw;}
/*.file-wrap input[type="text"]{display: inline-block;width: auto;padding: 0;background-color: transparent;font-size: 3.2vw;color: #8e9093;letter-spacing: -0.192vw;line-height: 1;height: auto;}*/
.file-wrap span.text{display: inline-block;width: auto;padding: 0.8vw 0;background-color: transparent;font-size: 3.2vw;color: #8e9093;letter-spacing: -0.192vw;line-height: 1;height: auto;border-bottom: 1px solid #56585d;}
.input-file{display: block;}
.input-file input[type="file"]{font-size: 3.2vw;color: #8e9093;letter-spacing: -0.192vw;}
.file-wrap .btn.delete{display: inline-block;width: 2.667vw;height: 2.667vw;margin-left: 1.867vw;background: url('../images/com/btn_close.svg') 0 0 no-repeat;-webkit-background-size: contain;background-size: contain;}

.file-wrap + .btn-area{margin-top: 8vw;margin-left: -4vw;margin-right: -4vw;text-align: center;}
